---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Piekarnie rzemieślnicze">
  <main class="container">
    <h1>Piekarni rzemieślnicze</h1>

    <div class="cards-list">
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
      <Card title="Card" links={{ instagram: "", facebook: "", website: "" }} />
    </div>
  </main>
</Layout>

<style>
  .cards-list {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(5, 1fr);
  }
</style>
