---
import Layout from "../layouts/Layout.astro";
import CardsList from "../components/CardsList.svelte";
import SearchInput from "../components/SearchInput.svelte";

import { allBakeries } from "../data/airtable";

const data = await allBakeries();

const title = "Piekarnie rzemieślnicze";
---

<Layout title={title}>
  <main class="container">
    <h1>{title}</h1>

    <SearchInput client:load />
    <CardsList data={data} />
  </main>
</Layout>

<style>

</style>
