---
import ExternalLink from "./ExtarnalLink.astro";

export interface Props {
  title: string;
  facebook: string;
  instagram: string;
  website: string;
}

const { title, facebook, instagram, website } = Astro.props;
---

<article class="card" data-theme="light">
  <h3>{title}</h3>

  <div class="card-links">
    <ExternalLink href={facebook}>Facebook</ExternalLink>
    <ExternalLink href={instagram}>Instagram</ExternalLink>
    <ExternalLink href={website}>Strona</ExternalLink>
  </div>
</article>

<style>
  .card {
    flex: 1;
    margin: 0;
    /* padding: 1.5rem; */
  }

  .card-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
