---
import ExternalLink from "./ExtarnalLink.astro";

export interface Props {
  title: string;
  facebook: string;
  instagram: string;
  website: string;
}

const { title, facebook, instagram, website } = Astro.props;
---

<article class="grid" data-theme="light">
  <h3>{title}</h3>

  <div class="card-links">
    <ExternalLink
      href={facebook}
      imgAlt="facebook icon"
      imgSrc="/icons/icons8-facebook.svg"
    />
    <ExternalLink
      href={instagram}
      imgAlt="instagram icon"
      imgSrc="/icons/icons8-instagram.svg"
    />
    <ExternalLink
      href={website}
      imgAlt="website icon"
      imgSrc="/icons/website.svg"
    />
  </div>
</article>

<style>
  .card {
    flex: 1;
    margin: 0;
    /* padding: 1.5rem; */
  }

  .card-links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
</style>
